<!DOCTYPE html>

<html lang="en">

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
        <link href="/static/styles.css" rel="stylesheet">

        <title>CS50x Final Project</title>
    </head>
    
    <body>

        <nav class="navbar bg-light navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" id="top" href="/"><span class="grey">Budget </span><span class="red">T</span><span class="orange">r</span><span class="yellow">a</span><span class="green">c</span><span class="blue">k</span><span class="indigo">e</span><span class="violet">r</span></a>

              <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </div>
          </nav>
          <br>
          <br>
          <br>
          <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="wrapper">
              <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>

    </body>

</html>